@import url(https://fonts.googleapis.com/css?family=Cookie|Raleway:300,700,400);
*{
    box-sizing: border-box;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
body.reg{
    background: url('../image/addGood.png') center no-repeat;
    background-size: cover;
    color: #333;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}


.reg .container {
    border-radius: 0.5em;
    box-shadow: 0 0 1em 0 rgba(51, 51, 51, 0.25);
    display: block;
    max-width: 630px;
    overflow: hidden;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    width: 98%;
}

.reg .container:before {
    background: url('../image/addGood.png') center no-repeat;
    background-size: cover !important;
    content: '' !important;
    -webkit-filter: blur(10px) !important;
    filter: blur(10px) !important;
    height: 100vh !important;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    z-index: -1 !important;
    -webkit-transform: translate(-50%, -50%) !important;
    -ms-transform: translate(-50%, -50%) !important;
    transform: translate(-50%, -50%) !important;
    width: 100vw !important;
}

.reg .container:after {
    background: rgba(255, 255, 255, 0.6) !important;
    content: '' !important;
    display: block !important;
    height: 100% !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    z-index: -1 !important;
    width: 100% !important;
}

.reg form button.submit {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid #333;
    line-height: 1em;
    padding: 0.5em 0.5em;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.reg form button:hover,
.reg	form button:focus,
.reg form button:active,
.reg form button.loading {
    background: #333;
    color: #fff;
    outline: none;
}

.reg form button.success {

    background: #27ae60;
    border-color: #27ae60;
    color: #fff;
}

@-webkit-keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.reg form button span.loading-spinner {
    -webkit-animation: spin 0.5s linear infinite;
    animation: spin 0.5s linear infinite;
    border: 2px solid #fff;
    border-top-color: transparent;
    border-radius: 50%;
    display: inline-block;
    height: 1em;
    width: 1em;
}

.reg form label {
    border-bottom: 1px solid #333;
    display: block;
    font-size: 1.25em;
    margin-bottom: 0.5em;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.reg form label.col-one-half {
    float: left;
    width: 50%;
}

.reg form label.col-one-half:nth-of-type(even) {
    border-left: 1px solid #333;
    padding-left: 0.25em;
}

.reg form label input {
    background: none;
    border: none;
    line-height: 1em;
    font-weight: 300;
    padding: 0.125em 0.25em;
    width: 100%;
}

.reg form label input:focus {
    outline: none;
}

.reg form label input:-webkit-autofill {
    background-color: transparent !important;
}

.reg form label span.label-text {
    display: block;
    font-size: 0.5em;
    font-weight: bold;
    padding-left: 0.5em;
    text-transform: uppercase;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}

.reg form label.checkbox {
    border-bottom: 0;
    text-align: center;
}

.reg form label.checkbox input {
    display: none;
}

.reg form label.checkbox span {
    font-size: 0.5em;
}

.reg form label.checkbox span:before {
    content: '\e157';
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-size: 1.125em;
    padding-right: 0.25em;
    position: relative;
    top: 1px;
}

.reg form label.checkbox input:checked + span:before {
    content: '\e067';
}

.reg form label.invalid {
    border-color: #c0392b !important;
}

.reg form label.invalid span.label-text {
    color: #c0392b;
}

.reg form label.password {
    position: relative;
}

.reg form label.password button.toggle-visibility {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 0.75em;
    line-height: 1em;
    position: absolute;
    top: 50%;
    right: 0.5em;
    text-align: center;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 0.25s;
    transition: all 5s;
}

.reg form label.password button.toggle-visibility:hover,
.reg form label.password button.toggle-visibility:focus,
.reg form label.password button.toggle-visibility:active {
    color: #000;
    outline: none;
}

.reg form label.password button.toggle-visibility span {
    vertical-align: middle;
}

.reg h1 {
    font-size: 3em;
    margin: 0 0 0.5em 0;
    text-align: center;
    font-family: 'Cookie', cursive;
}

.reg h1 img {
    height: auto;
    margin: 0 auto;
    max-width: 240px;
    width: 100%;
}

html {
    font-size: 18px;
    height: 100%;
}

.reg .text-center {
    text-align: center;
}

.content {
    background: #fafafa08;
    max-width: 700px;
    max-height: 900px;
}

.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
    font-size: 0.9rem!important;
}
input[type=file] {
}