body.reg{
    background: url('../image/addGood.png') center no-repeat;
    background-size: cover;
    color: #333;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.reg form button.submit {
    background: rgba(255, 255, 255, 0.25);
    border: 1px solid #333;
    line-height: 1em;
    padding: 0.5em 0.5em;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
}