.top-line {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    /*background: #9053c7;*/
    /*background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);*/
    /*background: -o-linear-gradient(-135deg, #c850c0, #4158d0);*/
    /*background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);*/
    /*background: linear-gradient(-135deg, #c850c0, #4158d0);*/
}

.top-line a {
    margin: 5px 10px;
    color: white;
}
