table {
    width: 100%;
    border-collapse: collapse;
}
table thead tr {
    color: #2c3e50;
    font-weight: bold;
    background: #9b59b6;
}

table thead tr td {
    border: 1px solid;
}

table tbody tr td {
    border: 1px solid #e74c3c;
}

/*table tbody tr:nth-child(2n) {*/
/*    background: #9b59b6;*/
/*}*/

table tbody tr:hover {
    background: #9b59b6;
}

table th {
    background: #2ecc71;
}
.reg .text-center {
    text-align: center;
}
