@charset "utf-8";
.abc {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px 10px;
}

.abcd{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.abcd *{
    margin: 0 10px;
}